@{
    ViewBag.Title = "Home Page";
}


<script defer src="~/Scripts/JavaScript.js"></script>



<div style="margin-top:50px">
   <p id="HelloWorld" style="display:none">Hello World</p>    
</div>


<button id="PRINT_TEXT"> PRINT TEXT </button>
<button id="BOLD"> BOLD </button>
<button id="ITALIC"> ITALIC </button>
<button id="UNDERLINE"> UNDERLINE </button>
<button id="RESET"> RESET </button>


